:root {
   
    --gray3: #e8edf1;
    
}
body {
    color: var(--gray3);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-align: center
}
footer,
header,
section.even {
    color: var(--white)
}
h3 {
    font-size: 2rem
}
h2,
h3,
h4 {
    letter-spacing: .3rem
}
h1,


/* Division de experiencia */
/* {
  margin: 0;
  padding: 0;

}
#experience{
    margin:3px;
}

.caja {

    display: inline-table;
    padding: 150px;

} */